apiVersion: apps/v1
kind: Deployment
metadata:
  name: workflow
  labels:
    app: workflow
spec:
  selector:
    matchLabels:
      app: workflow
  template:
    metadata:
      labels:
        app: workflow
    spec:
      containers:
      - name: workflow
        image: workflow
        command: [ "/bin/sh", "-c", "/opt/app/bin/workflow" ]
